#signup,
#login {
  margin: auto;
  background: #3d3b3c;
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}

#login {
  height: 250px;
}

#signup-btn button {
  background: #ff5a5f;
}

#signup-form,
#login-form {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.validation-errors {
  color: #ff5a5f;
  justify-content: space-around;
  width: 500px;
}

.error-message {
  display: flex;
  gap: 5px;
}

@media (max-width: 600px) {
  #signup,
  #login {
    width: 100vw;
    height: 300px;
  }

  #login-form,
  #signup-form {
    width: 90vw;
  }

  .validation-errors {
    width: 90vw;
  }
}
