body {
  margin: 0;
  padding: 0;
  font-family: Calibri, Arial, Courier;
  color: #fbfbfb;
  background: #201e1f;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  background: #201e1f;
  position: sticky;
  top:0;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  align-content: center;
}

header img {
  width: 133px;
  height: 38px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  width: 100px;
  height: 30px;
  font-family: Calibri, Arial, Courier;
  font-weight: bold;
  margin: auto;
  border: 0;
  border-radius: 16px;
  color: #201e1f;
}

button:hover {
  cursor: pointer;
  opacity: 90%;
}

input {
  height: 30px;
  border: 0;
  border-radius: 4px;
  font-family: Calibri, Arial, Courier;
}

textarea,
input:focus {
  outline: none;
}
@media (max-width: 600px) {
  header {
    justify-content: space-between;
    gap: 0;
  }
  nav {
    gap: 10px;
  }
}
