.messages {
  margin: auto;
  width: 540px;
  height: auto;
}

.message-container {
  display: flex;
  border: 1px solid #d0cfcf;
  padding: 8px;
  padding-bottom:0;
}

.message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: left;
  text-align: left;
  background: #fbfbfb;
  padding: 0 10px 0 10px;
}
.message-form button {
  margin-left: 400px;
  background: #ff5a5f;
}

.messages textarea {
  resize: none;
  border: 0;
  height: 50px;
  border-bottom: 1px solid #d0cfcf;
  font-family: Calibri, Arial, Courier;
}

.message {
  text-align: left;
  padding-left: 8px;
}

.back {
  color: #d0cfcf;
}

.back-icon:hover {
  cursor: pointer;
  background: #3d3b3c;
  border-radius: 50%;
}

.avatar img {
  width: 50px;
  height: 50px;
  border: 1px solid #ff5a5f;
  border-radius: 50%;
}

.username {
  font-weight: bold;
}

.timestamp {
  color: #c1bdb3;
  font-size: 0.7rem;
}

.interactions {
  display: flex;
  gap: 100px;
  color: #c1bdb3;
  margin-top:5px;
}

.interactions:hover {
  cursor: pointer;
}

.like-list,
.follow-list {
  margin: auto;
  width: 240px;
  height: auto;
}

.likes,
.comments {
  display: flex;
  justify-content: flex-start;
  width: 50px;
}

.likes-count,
.comments-count {
  margin-left: 10px;
}

.likes:hover {
  color: #ff5a5f;
}
.comments:hover {
  color: #b1e5f2;
}

.like-container,
.follow-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 6px;
  border: 1px solid #d0cfcf;
}

.loader {
  margin:auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 4px solid #d0cfcf;
  border-top: 4px solid #ff5a5f;
  border-radius:50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}

@media (max-width: 600px) {
  .messages {
    width: 100vw;
    height: auto;
  }

  .message-form button {
    margin-left: 220px;
  }
}
