body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Calibri, Arial, Courier;
}

header{
  width: 100vw;
  display: flex;
  justify-content:center;
  align-items:center;
}

nav {
  width:20vw;
  display:flex;
  justify-content: right;
  gap:20px;
  margin:auto;
}

#signup-form, #login-form{
  width: 400px;
  height: auto;
  display:flex;
  flex-direction: column;
  margin:auto;
}

button{
width:100px;
margin:auto;
}
